

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>


<nav class="navbar">
    <div class="brand">
        <div class="brand-icon"></div>
        <div>
            <h2>EMS</h2>
            <p>Hospitality Staff System</p>
        </div>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
       
    </div>
</nav

<body>
    <h2>Add Employee</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <form id="employeeForm">
        <input type="text" id="first_name" placeholder="First Name" required><br><br>
        <input type="text" id="last_name" placeholder="Last Name" required><br><br>
        <input type="text" id="position" placeholder="Position" required><br><br>
        <input type="text" id="department" placeholder="Department" required><br><br>
        <input type="text" id="phone" placeholder="Phone" required><br><br>
        <input type="email" id="email" placeholder="Email" required><br><br>

        <button type="submit">Add Employee</button>
    </form>

    <p id="message"></p>

    <script>
        document.getElementById("employeeForm").addEventListener("submit", async function(e) {
            e.preventDefault();

            const employee = {
                first_name: document.getElementById("first_name").value,
                last_name: document.getElementById("last_name").value,
                position: document.getElementById("position").value,
                department: document.getElementById("department").value,
                phone: document.getElementById("phone").value,
                email: document.getElementById("email").value
            };

            const response = await fetch("/api/employees", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(employee)
            });

            const data = await response.json();

            if (response.ok) {
                document.getElementById("message").textContent = "Employee added successfully";
                document.getElementById("employeeForm").reset();
            } else {
                document.getElementById("message").textContent = data.error || "Error";
            }
        });
    </script>
</body>
</html>